<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs') %>
<body class="container">
    <%- include ('partials/header.ejs') %>
    <%if(professors.length){ %>
        <% professors.forEach(function(professor) { %>
            <div class="panel panel-primary" style="margin: 3px;">
                <div class="panel-heading" style="background-color: rgb(21, 21, 243); color: white; border-radius: 5px; display: flex; justify-content: space-between; align-items: center;">
                    <img style="border-radius: 50%; width: 50px; height: 50px;" src=<%= professor.imagePath %>>
                    <%= professor.name %>
                    <div>
                        <%= professor.id %>
                        <a href="/teacher-form/<%= professor.id %>/edit" class="btn btn-primary pull-right" style="background-color: gray;">Modify</a>
                        <form action="/teacher-form/<%= professor.id %>/delete?_method=DELETE" method="POST" class="btn pull-right">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" style="background-color: red; border-radius: 5px;">Delete</button>
                        </form>
                    </div>
                    
                </div>
                <div class="panel-body" style="border-radius: 5px; border: 1px solid #000;">
                    <%= professor.description %>
                </div>
            </div>
       <% }) %>
    <% } %>
    
</body>
</html>